<div class="container">
    <p>assigment works!</p>
    <div class="row">
        <div class="col-ls-xs-12">
            <button  (click)="showText()" class="btn btn-primary"> Display Text</button>
            <p class="text" *ngIf="show">The righteous cry out, and the LORD hears them; he delivers them from all their troubles</p>
            <hr>
            <ul *ngFor="let index of indexs" [ngStyle]="{'background-color':index>=5?'blue':'white'}"><li [innerText]="index" [ngClass]="{index:index>=5}"></li></ul>
        </div>
    </div>
</div>

 