
 <p [ngStyle]="{'background-color':getColor()}"
 [ngClass]="{online:serverStatus==='online'}" > server {{serverName}} {{'with id' }} {{serverId}} {{' is '}} {{serverStatus}}</p>
 <!--<ng-template #noserver>
    <p > No server was created</p>
 </ng-template>-->

