<button [disabled]="isDisabled" class="btn  btn-primary" (click)= "getServerName($event)">change me</button>
<br><br> 
<!--<input type="text" (change)="getServerName($event)" class="form-control">-->

<input type="text" (change)="getServerName($event)" class="form-control">
<br>
<br>


<!--<app-server-two ></app-server-two>-->
<hr>
 <server-app *ngFor="let server of servers"></server-app>
  
<!--<p  [ngStyle]="{'background-color':getColor()}"  
 [ngClass]="{online:serverStatus==='online'}"
>server  {{serverName}} {{'with id' }} {{serverId}} {{' is '}} {{serverStatus}}</p>-->

