<div class="container">
    <h1>Hi my name is {{name}}</h1>
    <br>
    <br>
    <button [disabled]="enableBUtton" (click)="onCreates()"> change</button>
    <br>
    <input type="text" class="form-control" (input)="getInput($event)">
    <br>
    <input type="text" class="form-control" [(ngModel)]="textInput">
    <p class="text">{{textInput}}</p>
    <h3>I am  {{ age}} and I am in {{loveText}}</h3>
</div>


