 <div class="container">
    <div class="row">
        <div class="col-ls-xs -12">
            <h1>Jesus loves me {{name}}</h1>
          
            <br>
            <app-assigment></app-assigment>
            <!--<app-server-two ></app-server-two>-->
             
             
        </div>
    </div>
 </div>
 